:root {
    --text-color: #1a1c28;
    --link-color: #4a76ee;
    --background-color: #eeeff2;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Newsreader', sans-serif;
    background-color: var(--background-color);
}



/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    align-items:center;
    
    padding: 0 50px;
    height: 80px;
}

nav .left a {
    color: var(--text-color);
    font-size: 48px;
    font-weight: 1000;
}

nav .right a {
    color: var(--text-color);
    font-size: 30px;
    font-weight: 600;
    padding: 12px;
}

nav .right a span {
    margin-left:5px;
}

/* SECTION 1 */

.About {
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-bottom: 100px;
    padding: 0 50px;
    margin: 50px 0;
    gap: 50px;
}

.About .text {
    flex: 6;
    font-size: 26px;
}

.About .text .links {
    margin-top: 20px;
}
.About .text .links a {
    color: var(--link-color);
    display: inline-block;
    padding: 2px 7px;
    border: 2px solid var(--link-color);
    border-radius: 3px;
    transition: 2s;
}
.About .text .links a:hover {
    color: var(--background-color);
    display: inline-block;
    padding: 2px 7px;
    border: 2px solid var(--background-color);
    border-radius: 5px;
    background-color: var(--text-color);

}

.About .picture {
    flex: 3;
    display: flex;
    justify-content: right;
}
.About .picture img {
    width:450px;
    
}

 /* Section 2: Education */

.Education {
    text-align: center;
    margin-bottom: 100px;
    font-size: 26px;
}

.Education .text {
    text-align: center;
    margin-top: 50px;
    font-size: 26px;
}

/* Section 3: Skills */

.Skills{
    padding: 0 50px;
    margin-bottom: 100px;
    text-align: center;
}

.Skills h2{
    font-size: 35px;
}

.Skills .text {
    margin-bottom: 20px;
    font-size: 26px;
}

.Skills .cells{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.Skills .cells .cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    padding: 10px 20px;
    margin: 10px;
    border: 2px solid silver;
    border-radius: 12px;
}

.Skills .cells .cell img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    border-radius: 2px;
    margin-right: 30px;
}
@media (max-width:800px){

    /* NAVBAR */
     nav .right a span{
        display: none;
         transition: 2s;
    }

    /* Section 1: About */
    .About {
        flex-direction: column-reverse;
         transition: 2s;
    }
    .About .text {
        font-size: 20px;
         transition: 2s;
    }
    .About .picture img {
        width:300px;
         transition: 2s;
    }

    /* Section 2: Education */
    .Education .text {

    }

    /* Section 3: Skills */
    .Skills {
        flex-direction: column-reverse;
         transition: 2s;
    }

    .Skills .text {
        font-size: 20px;
         transition: 2s;
    }

    .Skills .cells .cell {
        width: 150px;
        transition: 2s;
    }

    .Skills .cells .cell img {
        width: 25px;
        height: 25px;
        object-fit: contain;
        border-radius: 2px;
        margin-right: 25px;
         transition: 2s;
    }

    .Skills .cells .cell span {
        font-size: 12px;
        transition: 2s;
    }

}

@media (max-width:600px){
    /* NAVBAR */
    nav {
        padding: 0, 20px;
        transition: 2s;

    }

    nav .left a{
        font-size: 32px;
         transition: 2s;
    }
    nav .right a {
        font-size: 22px;
         transition: 2s;
    }

   
    /* Section 1: About */
    .About {
        padding: 0 20px;
        transition: 2s;
    }

    
    /* Section 3: Skills */
    .Skills {
        padding: 0 20px;
        transition: 2s;
    }
}
